.product-card {
  width: 100%;
  background: #e8faff;
  border-radius: 20px;
  border: 2px solid #339be5;
  overflow: hidden;
  position: relative;
  font-family: Arial, sans-serif;
  height: 338px;
  box-shadow: 0 10px 24px rgba(51, 155, 229, 0.14);
}

/* IMAGE */
.product-image {
  height: 145px;
  padding: 8px;
  background: linear-gradient(180deg, #ffffff 0%, #f7fcff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(51, 155, 229, 0.12);
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 16px;
  transition: transform 0.25s ease;
}

.product-card:hover .product-image img {
  transform: scale(1.04);
}

/* INFO */
.product-info {
  padding: 8px 10px 10px;
}

/* PRICE */
.price-row {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.old-price {
  text-decoration: line-through;
  color: #339be5;
  font-weight: 700;
  font-style: italic;
  font-size: 12px;
}

.discount {
  background: red;
  color: white;
  padding: 2px 6px;
  border-radius: 999px;
  font-size: 11px;
}

.new-price {
  font-size: 17px;
  font-weight: bolder;
  color: red;
  line-height: 1.2;
}

/* DESCRIPTION */
.description {
  color: #555;
  margin: 4px 0 6px 0;
  height: 38px;
  line-height: 1.3;
  font-size: 13px;
  overflow: hidden;
}

/* OPTIONS */
.options {
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
  flex-wrap: wrap;
}

.options span {
  background: #339be5;
  padding: 3px 6px;
  border-radius: 999px;
  font-size: 9px;
}
.age {
  color: #339be5;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}
/* META */
.meta {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.stars {
  color: gold;
  font-size: 13px;
}
.meta span {
  color: #339be5;
  font-size: 11px;
  font-style: italic;
  font-weight: 500;
}

/* CART BUTTON */
.cart-btn {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background: #339be5;
  color: white;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btn:hover {
  transform: scale(1.1);
  background-color: red;
}
