.app {
  /* display: flex; */
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  width: 100%;
  padding: 0;      /* Đảm bảo không có khoảng cách đệm */
  margin: 0;       /* Đảm bảo không có lề */
  overflow-x: hidden;
}

.layout {
  display: flex;
  margin-top: 170px; /* Khớp với tổng chiều cao Header + Banner */
  gap: 0;            /* Khoảng cách giữa Menu và Content bằng 0 */
}
